In [8]:
import pandas as pd

In [14]:
import numpy as np

In [11]:
deaths = pd.read_csv(r"C:\Users\tmbib\AppData\Local\Programs\Python\drug_deaths.csv")

In [12]:
deaths.describe()

,Unnamed: 0,deaths_20,deaths_19,deaths_18,deaths_17,deaths_16
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,26.000000,1345.686275,977.647059,917.686275,933.274510,828.372549
std,14.866069,1399.674226,1005.368824,933.433458,971.678508,846.704080
min,1.000000,46.000000,39.000000,28.000000,35.000000,42.000000
25%,13.500000,325.500000,241.500000,199.500000,225.000000,181.500000
50%,26.000000,945.000000,558.000000,444.000000,456.000000,466.000000
75%,38.500000,1981.000000,1393.500000,1250.000000,1255.000000,1158.000000
max,51.000000,5508.000000,3771.000000,3237.000000,4293.000000,3613.000000

In [13]:
deaths = pd.get_dummies(deaths)